# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
.venv_backup/

# Editors/OS
.vscode/
.idea/
.DS_Store
*.swp
.vs/

# Packaging/build
build/
dist/
*.egg-info/
*.log

# Jupyter
.ipynb_checkpoints/
